@font-face {
  font-family: 'Objectivity Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Objectivity Regular'),
    url('../font/Objectivity-Regular.woff') format('woff');
}

@font-face {
  font-family: 'Objectivity Medium';
  font-style: normal;
  font-weight: normal;
  src: local('Objectivity Medium'),
    url('../font/Objectivity-Medium.woff') format('woff');
}
